.container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 84%;
}
.container h2 {
  color: var(--color3a);
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.container p {
  color: var(--color3a);
  padding-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}
.container button {
  margin: 40px 0 100px;
  height: 50px;
  color: var(--color5b);
  background-color: var(--color2b);
  border: none;
  font-size: 18px;
  font-weight: 300;
}
.container button:hover {
  background-color: var(--color3b);
  cursor: pointer;
}

.rowbuttonactive {
  color: var(--color1d);
  padding: 0 1px;
  font-size: 20px;
  font-weight: 300;
}
.rowbuttonactive:hover {
  color: var(--color9a);
  background-color: var(--color3b);
  cursor: pointer;
}

@media (min-width: 801px) {
  .container {
    width: 74%;
  }
  .container h2 {
    padding-top: 60px;
    font-weight: 500;
  }
  .container p {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }
  .container button {
    margin: 56px auto 10px;
    height: 50px;
    font-size: 18px;
    width: 300px;
  }
}
